<!DOCTYPE html public "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://cdn.rawgit.com/craftyjs/Crafty/release/dist/crafty.js"></script>
    <title>Knights and Ninjas</title>
    <!--<img src="http://cdn.quotesgram.com/img/2/67/160909924-TUFOSk1ZRzZFQXcx_o_portal-2-space-core-quotes.jpg"/>-->
</head>
<body>
    <div id="game">Select Game
        <br></br>
        <a th:href="@{/asteroids}">Asteroids</a>
        <br></br>
        <a th:href="@{/munchkin}">Munchkin Quest</a>
    </div>

</body>
</html>